@model IEnumerable<ShoppingCart.Entities.Cart>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form action="/Shopping/Create" method="post">
    <label>Item:</label><input type="text" name="naam" value="" />
    <label>Quantity:</label><input type="number" name="aantal" value="1" min="1" max="5"/>
                            <input type="submit" value="Add to list" />
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aantal)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-naam="@item.Naam" class="glyphicon glyphicon-pencil"></a>
                <a asp-action="Delete" asp-route-naam="@item.Naam" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
